{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-3">
            filters
        </div>
        <div class="col-md-6">
            {% for content in contents %}
                <div class="row mt-3">
                    {% include 'qa/components/question_card.html' with question=content %}
                </div>
            {% endfor %}
        </div>
        <div class="col-md-3">
            placeholder
        </div>
    </div>
{% endblock %}