{% extends 'base.html' %}

{% block content %}

    {% load static %}
    <div class="row">
        <!-- form filter -->
        <div class="col-md-3 mt-3">
            <form id="filter-form">
                <div class="card" style="width: 18rem;">
                    <div class="card-header px-3 text-center"><span><strong>By type</strong></span></div>
                    <div class="btn-group-vertical my-1" role="group" aria-label="Vertical button group">
                        <input type="radio" class="btn-check" name="content-type" id="content-type-question"
                               autocomplete="off" value="question"/>
                        <label class="btn btn-light" for="content-type-question">Questions</label>

                        <input type="radio" class="btn-check" name="content-type" id="content-type-answer"
                               autocomplete="off" value="answer"/>
                        <label class="btn btn-light" for="content-type-answer">Answer</label>

                        <input type="radio" class="btn-check" name="content-type" id="content-type-article"
                               autocomplete="off" value="article"/>
                        <label class="btn btn-light" for="content-type-article">Articles</label>
                    </div>


                    <div class="card-header px-3 text-center"><span><strong>By time</strong></span></div>
                    <div class="btn-group-vertical mt-1" role="group" aria-label="Vertical button group">
                        <input type="radio" class="btn-check" name="time" id="time-all-time"
                               autocomplete="off" value="all"/>
                        <label class="btn btn-light" for="time-all-time">All time</label>

                        <input type="radio" class="btn-check" name="time" id="time-last-24-hours"
                               autocomplete="off" value="hour"/>
                        <label class="btn btn-light" for="time-last-24-hours">Last 24 hours</label>

                        <input type="radio" class="btn-check" name="time" id="time-last-7-days"
                               autocomplete="off" value="week"/>
                        <label class="btn btn-light" for="time-last-7-days">Last 7 days</label>

                        <input type="radio" class="btn-check" name="time" id="time-last-30-days"
                               autocomplete="off" value="month"/>
                        <label class="btn btn-light" for="time-last-30-days">Last 30 days</label>
                    </div>

                </div>
            </form>
        </div>
        <!-- content -->
        <div class="col-md-7">
            {% for content in contents %}
                <div class="row mt-3">
                    {% if content.content_type_str == 'question' %}
                        {% include 'qa/question_card.html' with question=content %}
                    {% elif content.content_type_str == 'answer' %}
                        {% include 'core/answer_card_for_search.html' with answer=content %}
                    {% elif content.content_type_str == 'article' %}
                        {% include 'pubedit/article_card.html' with article=content %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="{% static 'core/js/search.js' %}"></script>
{% endblock %}