{% load static %}
<link rel="stylesheet" href="{% static 'core/css/readmore_collapse.css' %}">

<div class="card">
    <!-- tags -->
    {% include 'core/tags.html' with content=article %}
    <!-- article title -->
    <div class="row mt-2">
        <p class="fs-2 fw-bold">{{ article.title }}</p>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-start">
            <div class="fw-light">updated {{ article.updated | timesince }} ago</div>
            <div class="mx-2" style="border-left: 1px solid #666;"></div>
            <div><i class="fa-solid fa-eye"></i> {{ article.views }}</div>
        </div>
    </div>
    <hr>
    <!-- article content -->
    <div class="row mb-1">
        <div class="d-flex align-items-center justify-content-center">
            <div class="content-content">
                {% include 'core/markdown_feed_display.html' with feed=article.feed %}
            </div>
        </div>
    </div>
    <div class="row my-1">
        <span class="read-more"
              onclick="toggleReadMoreButton(this, '{{ article.content_type_str }}', {{ article.id }}, {{ request.user.id }})">...read more</span>
        <span class="collapse-content" onclick="toggleCollapseButton(this)" style="display: none;">...collapse</span>
    </div>
    <!-- article toggle buttons -->
    <div class="row my-2 article-toggle-bar">
        <div class="col d-flex justify-content-start align-items-center">
            <!-- follow -->
            <div class="mx-1">
                {% include 'core/content_follow_button.html' with content=article %}
            </div>
            <!-- vote -->
            <div class="mx-1">
                {% include 'core/vote.html' with content=article %}
            </div>
        </div>
        <div class="col d-flex justify-content-end align-items-center me-3">
            <!-- edit/delete button -->
            <div class="btn-group dropstart" style="box-shadow: none;">
                <a type="button" class="btn " data-mdb-toggle="dropdown"
                   aria-expanded="false">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </a>
                <ul class="dropdown-menu">
                    {% if article.poster == request.user %}
                        <li><a class="dropdown-item" href="{% url 'pubedit:article_update' article.id %}"><i
                                class="fa-solid fa-pen-to-square"></i> Edit article</a>
                        </li>
                    {% else %}
                        <li><a class="dropdown-item" href="{% url 'notification:pull_request_article' article.id %}"><i class="fa-solid fa-code-pull-request"></i> Pull request</a>
                        </li>
                    {% endif %}

                    <li><a class="dropdown-item" href="{% url 'pubedit:article_log' article.id %}"><i
                            class="fa-solid fa-list"></i> Log</a>
                    </li>

                    <li>
                        <hr class="dropdown-divider"/>
                    </li>
                    <li><a class="dropdown-item"
                           href="{% url 'account:profile' article.poster.id %}"><i
                            class="fa-solid fa-user-tie"></i> About author</a>
                    </li>
                </ul>
            </div>
            <!-- comment button -->
            <i class="fa-solid fa-comment-dots" onclick="toggleCommentBox(this)" style="cursor: pointer;"></i>
        </div>
    </div>
    <div class="row my-1">
        {% include 'core/comment.html' with content=article %}
    </div>
</div>


<script src="{% static 'core/js/comment.js' %}"></script>
<script src="{% static 'core/js/readmore_collapse.js' %}"></script>
