.content-content {
    position: relative;
    max-height: 3px; /* 根据需要调整高度 */
    overflow: hidden;
    line-height: 1.5em;
    /*line-height: 3em;*/
}

.read-more, .collapse-content {
    padding: 0 5px;
    cursor: pointer;
    color: #508bfc;
}

