{% load static %}
<link rel="stylesheet" href="{% static 'core/css/readmore_collapse.css' %}">

<div class="card">
    {% if show_question %}
    <div class="row">
        <a href="{% url 'qa:question_detail' answer.question.id %}"><h3>{{ answer.question.title }}</h3></a>
    </div>
    {% endif %}


    <!-- answer meta -->
    <div class="row mt-2">
        <!-- avatar -->
        <div class="col-md-1">
            <img
                    src="{% static 'account/images/default_avatar.jpg' %}"
                    class="rounded-circle"
                    height="45"
                    alt="default avatar"
                    loading="lazy"
            />
        </div>
        <div class="col-md-11">
            <!-- username | follow -->
            <div class="d-flex align-items-center">
                <a href="#"><strong>@{{ answer.poster.username }}</strong></a>
                {% if request.user != answer.poster %}
                    <span class="mx-1">·</span>
                    {% include 'account/follow_button.html' with followed=answer.poster %}
                {% endif %}
            </div>

            <!-- bio | updated -->
            <div class="row mt-2">
                <div style="color: #939598">
                    <span>
                        {% if answer.question.poster.bio %}
                            {{ answer.question.poster.bio }} ·
                        {% endif %}
                        updated {{ answer.updated | timesince }} ago
                    </span>
                </div>
            </div>
        </div>
    </div>

    <!-- answer content -->
    <div class="row my-2">
        <div class="d-flex align-items-center justify-content-center">
            <div class="content-content">
                {{ answer.feed|safe }}
            </div>
        </div>
    </div>
    <div class="row my-1">
        <span class="read-more" onclick="toggleContent(this)">...read more</span>
        <span class="collapse-content" onclick="toggleContent(this)" style="display: none;">...collapse</span>
    </div>
    <hr>

    <!-- answer toggle buttons -->
    <div class="row my-2 answer-toggle-bar">
        <div class="col-md-9">
            <button type="button" class="btn btn-light btn-rounded">
                <i class="fa-solid fa-wifi fa-rotate-90"></i>
                Follow · {{ answer.followers.all.count }}
            </button>
            {% include 'core/vote.html' with content=answer %}
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-1">
            <i class="fa-solid fa-comment-dots" onclick="toggleCommentBox(this)" style="cursor: pointer;"></i>
        </div>
    </div>
    <div class="row my-1">
        {% include 'core/comment.html' with content=answer user=request.user %}
    </div>
</div>

<script src="{% static 'core/js/comment.js' %}"></script>
<script src="{% static 'core/js/readmore_collapse.js' %}"></script>
