{% load static %}
<link rel="stylesheet" href="{% static 'core/css/readmore_collapse.css' %}">
<div class="card mb-3 py-3">
    <div class="row"><h4>{{ answer.question }}</h4></div>
    <hr>
    <!-- answer detail -->
    <div class="row">
        <!-- avatar -->
        <div class="col-md-1">
            <img
                    src="{% static 'account/images/default_avatar.jpg' %}"
                    class="rounded-circle"
                    height="45"
                    alt="default avatar"
                    loading="lazy"
            />
        </div>
        <div class="col-md-11">
            <!-- username | follow -->
            <div class="d-flex align-items-center">
                <a href="#"><strong>@{{ answer.poster.username }}</strong></a>
                {% if request.user != answer.poster %}
                    <span class="mx-1">·</span>
                    <a href="#">Follow</a>
                {% endif %}
            </div>

            <!-- bio | updated -->
            <div class="row mt-2">
                <div style="color: #939598">
                    <span>
                        {% if answer.question.poster.bio %}
                            {{ answer.question.poster.bio }} ·
                        {% endif %}
                        updated {{ answer.updated | timesince }} ago
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- answer content -->
    <div class="row">
        <div class="d-flex align-items-center justify-content-center">
            <div class="content-content">
                {{ answer.feed|safe }}
            </div>
        </div>
    </div>
    <!-- read more | collapse -->
    <div class="row my-1">
        <span class="read-more" onclick="toggleContent(this)">...read more</span>
        <span class="collapse-content" onclick="toggleContent(this)" style="display: none;">...collapse</span>
    </div>
    <hr>
    <!-- answer toggle buttons -->
    <div class="row">
        {% include 'core/components/vote.html' with content=answer content_type="answer" id=answer.uuid %}
    </div>
</div>

<script src="{% static 'core/js/readmore_collapse.js' %}"></script>
