{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <div class="row">
        <!-- filter -->
        <div class="col-md-3 mt-3">
            <!-- form filter -->
            <div class="row">
                <div class="col">
                    <form id="notification-filter-form">
                        <div class="card" style="width: 18rem;">
                            <div class="card-header px-3 text-center bg-info text-white"><span><strong>Filters</strong></span></div>
                            <div class="btn-group-vertical my-1" role="group" aria-label="Vertical button group">
                                <input type="radio" class="btn-check" name="type"
                                       id="notification-invite-quesiton"
                                       autocomplete="off" value="invited_questions"/>
                                <label class="btn btn-info" for="notification-invite-quesiton">Invited questions</label>

                                <input type="radio" class="btn-check" name="type"
                                       id="notification-pulled-requests"
                                       autocomplete="off" value="pulled_requests"/>
                                <label class="btn btn-info" for="notification-pulled-requests">Pulled requests</label>

                                <input type="radio" class="btn-check" name="type"
                                       id="notification-followed-contents"
                                       autocomplete="off" value="followed_contents"/>
                                <label class="btn btn-info" for="notification-followed-contents">Followed contents</label>

                                <input type="radio" class="btn-check" name="type"
                                       id="notification-followed-accounts"
                                       autocomplete="off" value="followed_accounts"/>
                                <label class="btn btn-info" for="notification-followed-accounts">Followed accounts</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- content -->
        <div class="col-md-8 my-3">
        {% if notification_type == "invited_questions" %}
            {% include "notification/question_invitations_list.html" %}
        {% elif notification_type == "pulled_requests" %}
            {% include "notification/pulled_requests_list.html" with combined_data=combined_data %}
        {% elif notification_type == "followed_contents" %}
            {% include "notification/followed_contents_list.html" with contents=contents content_type=content_type %}
        {% elif notification_type == "followed_accounts" %}
            {% include "notification/followed_accounts_list.html" with followed_content_list=followed_content_list action_type=action_type %}
        {% endif %}
        </div>
    </div>

    <script src="{% static "notification/js/initial_filter.js" %}"></script>
    <script>
        initial_filter("notification-filter-form", "type");
    </script>
{% endblock %}