{% load static %}
<link rel="stylesheet" href="{% static 'core/css/readmore_collapse.css' %}">
<link rel="stylesheet" href="{% static 'core/css/modal-custom-width.css' %}">

<div class="card">
    <div class="card-header px-3 fs-3 fw-bold">Pulled requests</div>
    <ul class="list-group list-group-light list-group-large">
        {% for article_feed, article_diff_html in combined_data %}
            {% with article=article_feed.article %}
                <li class="list-group-item px-3">
                    <!-- log poster -->
                    <div class="row">
                        <div class="col d-flex justify-content-start align-items-center">
                            <p class="fs-4">
                                Request pulled by <a
                                    href="{% url 'account:profile' article_feed.poster.id %}">@{{ article_feed.poster }}</a>
                                for <a
                                    href="{% url 'core:search' %}?q={{ article.title }}&type=article&sort=latest">{{ article.title }}</a>
                            </p>
                        </div>
                        <div class="col d-flex justify-content-end align-items-center me-3">
                            <button type="button" class="btn btn-outline-success btn-rounded"
                                    data-mdb-toggle="modal"
                                    data-mdb-target="#article-{{ article.id }}-modal"
                                    data-mdb-ripple-color="dark">View preview
                            </button>
                        </div>
                    </div>
                    <!-- log content -->
                    <div class="row">
                        <div class="col d-flex flex-col justify-content-center my-2">
                            <div class="border p-3" style="border-radius: 15px;">
                                <div class="mb-0 content-content">
                                    {{ article_diff_html | safe }}
                                </div>
                                <span class="read-more"
                                      onclick="toggleReadMoreButtonSimple(this)">...read more</span>
                                <span class="collapse-content" onclick="toggleCollapseButton(this)"
                                      style="display: none;">...collapse</span>
                            </div>
                        </div>
                    </div>
                    <!-- comment -->
                    {% if article_feed.comment %}
                        <div class="row">
                            <div class="col">
                                <div class="fw-light">Comment:</div>
                                <div class="fw-light">
                                    {{ article_feed.comment }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <!-- created time -->
                    <div class="row mt-2">
                        <div class="col d-flex justify-content-start">
                            <div class="fw-light">Created at {{ article_feed.created }}</div>
                            <div class="mx-2" style="border-left: 1px solid #666;"></div>
                            <div class="fw-light">Updated at {{ article_feed.updated }}</div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="row">
                        <div class="col">
                            <div class="modal fade" id="article-{{ article.id }}-modal" tabindex="-1"
                                 aria-labelledby="article-{{ article.id }}-modal-label"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered custom-modal-width">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"
                                                id="article-{{ article.id }}-modal-label">{{ article.title }}</h5>
                                            <button type="button" class="btn-close"
                                                    data-mdb-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- markdown text Editor -->
                                            {% include 'core/markdown_feed_editor.html' with feed_value=article.feed %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- request accept/reject button -->
                    <div class="row mt-2">
                        <div class="col">
                            <div class="d-grid gap-2">
                                <button class="btn btn-success" type="button" onclick="togglePulledRequestJudgeButton({{ article_feed.id }}, 'accept')">Accept</button>
                                <button class="btn btn-danger" type="button" onclick="togglePulledRequestJudgeButton({{ article_feed.id }}, 'reject')">Reject</button>
                            </div>
                        </div>
                    </div>
                </li>
            {% endwith %}
        {% endfor %}
    </ul>
</div>
<script src="{% static "notification/js/pulled_requests_list.js" %}"></script>
<script src="{% static 'core/js/readmore_collapse.js' %}"></script>

